* {
  box-sizing: border-box;
}

body {
  font-size: 22px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
  color: #111;
  margin: 0;
  padding: 20px 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* p {
  font-size: 10vw;
  padding: 0 2vw;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  color: black;
  mix-blend-mode: overlay;
} */

button {
  display: inline-block;
  outline: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  
  padding: 18px 50px;
  font-size: 45px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  background: linear-gradient(#0074e4, #5522fa);
  border-radius: 50px;
  transition: transform .2s ease;
}

button:active {
  transform: scale(0.92);
}
